*{
    text-decoration: none;
}

body{
    background-color: #101541;
    padding-top: 50px;
}

/*styling the login and Registration page*/

.login{
    
    margin: auto;
    background-color: #0085a0;
    width: 40%;
    height: 50vh;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-family:Verdana;
}

/* Centering and sytling the login page header */

h1{
    text-align: center;
}

